@page
@model XamarinCDWeb.Pages.DownloadModel
@{
    ViewData["Title"] = "Download";
}
<h2>Download</h2>
<div class="row">
    <div>
        <label>Name: @Model.App.Name</label>
    </div>
    <div>
        <label>Artifact Build Number: @(Model.Platform == Common.MobilePlatform.Android? Model.App.ApkVersion:Model.App.IpaVersion)</label>
    </div>
    <br />
    <div>
        <a class="btn btn-primary" href="@Model.DownloadUrl">
            Install Application
        </a>
    </div>
    <br />
</div>
