@page
@model XamarinCDWeb.Pages.DownloadModel
@{
    ViewData["Title"] = "Download";
}
<h2>Download</h2>
<div class="row">
    <div>
        <label>Artifact Build Number:</label>
        @if (Model.Platform == Common.MobilePlatform.Android)
        {
            <input class="form-control" type="text" value="@Model.App.ApkVersion" />
        }
        else
        {
            <input class="form-control" type="text" value="@Model.App.IpaVersion" />
        }
    </div>
    <br />
    <div>

        <a class="btn btn-primary" href="@Model.DownloadUrl">
            Install Application
        </a>
    </div>
    <br />
</div>
